@model CineLite.Models.Movie
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<h2>Create New Movie</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="GenreId" class="control-label"></label>
        <select asp-for="GenreId" class="form-control" asp-items="@(new SelectList(ViewBag.Genres, "Id", "Name"))">
            <option value="">-- Select Genre --</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Duration"></label>
        <input asp-for="Duration" class="form-control" placeholder="hh:mm:ss" />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Save</button>
</form>
<a href="/Movies">Back to list</a>
